.contact
    &-file
        background: #161616
        border: 1px dashed #FFFFFF
        border-radius: 8px
        width: 100%
        grid-column-start: 1
        grid-column-end: 3
        display: flex
        flex-direction: column
        justify-content: center
        align-items: center
        padding: 30px 0
        position: relative
        overflow: hidden
        &__text
            font-size: 0.8em
            line-height: 1.1em
            text-align: center;
            letter-spacing: 0.04em;
            color: #FFFFFF;
            margin-top: 10px
            a
                text-decoration: underline
        input
            position: absolute;
            left: 0;
            top: 0;
            width: 100%;
            height: 100%;
            transform: scale(20);
            letter-spacing: 10em;
            -ms-transform: scale(20);
            opacity: 0;
            cursor: pointer

    &-title
        text-align: left
    form
        width: 570px
        display: grid
        grid-template-columns: repeat(2, 1fr)
        grid-row-gap: 30px
        grid-column-gap: 30px
        button
            width: 170px;
            height: 35px;  
            background: #FFFFFF;
            border: 2px solid #FFFFFF;
            box-sizing: border-box;
            border-radius: 6px;
            font-size: 1em;
            line-height: 1.2em;
            text-align: center
            letter-spacing: 0.04em; 
            cursor: pointer
            &::hover
                background: #535353;

    &-input
        position: relative
        height: 50px
        input
            background: transparent
            border: none
            border-bottom: 1px solid #FFFFFF;
            position: relative
            width: 100%
            height: 100%
            padding: 10px 15px
        &::before
            content: "Full name*"
            position: absolute
            font-weight: 500;
            font-size: 1em;
            line-height: 1.2em;
            letter-spacing: 0.04em;
            color: #FFFFFF;
            left: 0
            top: 0px
            display: block
            z-index: 10
        &#message
            grid-column-start: 1
            grid-column-end: 3
            &::before
                content: "Message*"
        &#mail
             &::before
                content: "Email*"
        &#tel
             &::before
                content: "Phone number*"
        &#country
             &::before
                content: "Country"
    &-checkbox
        #check
            position: absolute
            opacity: 0
            z-index: -1
            &:checked+label
                &::before
                    content: "\2714"
                    font-size: 1.2em
                    display: flex
                    justify-content: center
                    align-items: center
    &-checkbox
        grid-column-end: 3
        grid-column-start: 1
        label
            cursor: pointer
            font-size: 1em;
            line-height: 1.2em;
            letter-spacing: 0.04em;
            color: #FFFFFF;
            position: relative
            display: inline-flex
            align-items: center
            &::before
                content: ''
                flex-shrink: 0
                flex-grow: 0
                margin-right: 24px
                background-repeat: no-repeat
                background-position: center center
                background-size: 50% 50%
                width: 24px;
                height: 24px;
                border: 1px solid #FFFFFF;
                box-sizing: border-box;
                border-radius: 4px;
    &-privacy
        font-size: 0.8em
        line-height: 1.5em;
        letter-spacing: 0.04em;
        color: #FFFFFF;
        grid-column-start: 1
        grid-column-end: 3
        margin-top: -5px
        a
            color: #FFFFFF;
            cursor: pointer

input:-webkit-autofill,
input:-webkit-autofill:hover, 
input:-webkit-autofill:focus,
textarea:-webkit-autofill,
textarea:-webkit-autofill:hover,
textarea:-webkit-autofill:focus,
select:-webkit-autofill,
select:-webkit-autofill:hover,
select:-webkit-autofill:focus 
  -webkit-text-fill-color: white;
  background: transparent
  transition: background-color 5000s ease-in-out 0s;

