@media screen and (max-width:1200px)
    html
        font-size: 14px
    .container
        max-width: 960px
    .promo
        &-header
            padding: 20px 35px
    .service
        &-cards
            margin-top: 70px
    .contact
        &-column
            grid-column-gap: 50px
            
@media screen and (max-width:992px)
    html
        font-size: 12px
    .container
        max-width: 720px
    .section
        padding: 65px 0 0
    .promo
        &-header
            &__title
                max-width: 150px
            &__contact
                &_btn
                    margin-top: 50px
    .service
        &-cards
            grid-template-columns: repeat(2, 220px)
            justify-content: center
            grid-template-rows: repeat(2, 140px)
            grid-row-gap: 130px
            grid-column-gap: 50px
    .works
        &-slide
            &__title
                left: 2%
            &__subt
                left: 2%
        &-slider
            &__controls
             right: 2%
    .news
        &-list 
            display: flex;
            flex-wrap: wrap;
            justify-content: space-around
    .review
        &-slide
            &__text
                &::before
                    left: 0
    .footer
        padding-bottom: 30px
@media screen and (max-width:768px)
    html
        font-size: 14px
    .container
        max-width: 540px
    .service
        &-cards
            grid-template-columns: repeat(1, 220px)
            width: 260px
            margin: 100px auto 0
            grid-template-rows: repeat(4, 230px)
            grid-row-gap: 70px
    .reasons
        &-list
                display: flex
                flex-wrap: wrap
                justify-content: space-around
                flex-grow: 1
        &-item
            margin-bottom: 20px
    .questions
        &-item
            &__descr
                width: 80%
    .contact
        &-column
            grid-column-gap: 0
            grid-template-columns: 1fr
            grid-row-gap: 30px
            grid-template-rows: auto 600px
        &-modal
            &__wrapper
                width: 85%
                padding: 50px 20px
            &__btn
                width: 100%
                font-size: 1rem
@media screen and (max-width:576px)
    .container
        max-width: 95vw
    .section
        padding: 40px 5px 0
    .title
        &__sub
            margin: 20px 0 10px
    .promo 
        padding: 0 10px
        h1
            font-size: 2rem
            margin-top: 45%
        h3
            font-size: 1.5rem
            line-height: 1.3em
        &-header
            padding: 30px 0px
            &__contact
                font-size: 0.8rem
                &_btn
                     width: 180px
                     font-size: 1.2rem
    .service
        &-cards
            grid-template-columns: repeat(1, 220px)
            width: 85%
    .works
        padding: 40px 0 0
        &-slider
            &__controls
                bottom: 0
        
    .reasons
        &-list
                display: grid
                grid-template-columns: 1fr
                grid-row-gap: 25px
    .partners
        &-list
            grid-template-columns: repeat(3, auto)
    .review
        &-slide
            flex-direction: column
            align-items: center
            &__text
                width: 90%
                margin-bottom: 10px
           
    .news
        &-list
            display: grid
            grid-template-columns: repeat(2, 1fr)
            grid-column-gap: 10px
    .about
        &-list
            grid-template-columns: repeat(2, 1fr)
    .questions
        &-list
            grid-row-gap: 60px
            &__descr
                width: 90%
    .contact
        padding: 70px 0 0

        &-card
            grid-row-gap: 10px
            display: flex
            justify-content: center
            flex-direction: column
            &__adress, &__info
                text-align: center
                div
                    display: flex
                    justify-content: center
        &-modal
            &__wrapper
                width: 95%
            &__title
                font-size: 1.5rem
            &__cross
                top: 10px
                right: 10px
            &__subt
                font-size: 0.8rem
            &__btn
                font-size: 1.2rem
            &__btns
                grid-row-gap: 10px
                grid-template-columns: 1fr
                grid-template-rows: repeat(2, 1fr)
    .footer
        padding: 40px 0
        .container
            display: grid
            grid-row-gap: 20px
        &-info
            grid-column-gap: 10px
    
            


    
            

        


        
    
    