.partners
        background: #00000e
        &-list
            list-style: none
            display: grid
            grid-template-columns: repeat(6, auto)
            grid-template-rows: repeat(2, auto)
            grid-row-gap: 20px
            grid-column-gap: 10px
