.service
    background: #00000e
    .container
        padding: 100px 0 50px 0
    &-cards
        display: grid
        grid-template-columns: repeat(4, auto)
        grid-column-gap: 10px
        margin-top: 80px
    &-card
        height: 100%
        width: 100%
        &__btn
            width: 170px
            cursor: pointer
            margin-top: 20px
        &__title
            font-style: normal;
            font-weight: 800
            font-size: 1.5em
            line-height: 1.5em
            text-align: center
            letter-spacing: 0.08em
            text-transform: capitalize
            color: #FFFFFF;
        &__img
            display: flex
            justify-content: center
            align-items: center
            margin-bottom: 32px
        &__descr
            font-style: normal
            font-weight: normal
            font-size: 1en
            line-height: 1.5em
            text-align: center
            letter-spacing: 0.04em
            color: #FFFFFF



       
