.service
    &-cards
        display: grid
        grid-template-columns: repeat(4, auto)
        grid-column-gap: 10px
        margin-top: 50px
    &-card
        height: 100%
        width: 100%
        &__btn
            width: 170px
            cursor: pointer
            margin-top: 20px
            height: 35px
            font-size: 1rem
            line-height: 1.6em
        &__title
            font-style: normal;
            font-weight: 800
            font-size: 1.5rem
            line-height: 1.5em
            text-align: center
            letter-spacing: 0.08em
            text-transform: capitalize
            color: #FFFFFF;
            margin-bottom: 18px
        &__img
            display: flex
            justify-content: center
            align-items: center
            margin-bottom: 32px
            width: 100px
            height: 80px
        &__descr
            font-style: normal
            font-weight: normal
            font-size: 1rem
            line-height: 1.5em
            text-align: center
            letter-spacing: 0.04em
            color: #FFFFFF
            width: 235px
            margin: 0 auto



       
